{
  "presets": [
    [
      "vue"
    ]
  ],
  "plugins": [
    [
      "transform-decorators-legacy"
    ],
    [
      "transform-class-properties"
    ],
    [
      "syntax-dynamic-import"
    ],
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}